<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMINCSS__/base.css" />
<link rel="stylesheet" href="__ADMINCSS__/info-reg.css" />
<link href="__COMMON__/Ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__COMMON__/Ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/Ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/Ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="__COMMON__/Ueditor/lang/zh-cn/zh-cn.js"></script>

<title>移动办公自动化系统</title>
</head>

<body>
<div class="title"><h2>资讯修改</h2></div>
<form action="" method="post"  id="f" enctype='multipart/form-data'>
<div class="main">
	<p class="short-input ue-clear">
    	<label>资讯名称：</label>
        <input name="n_name" type="text" placeholder="资讯名称" value="{$data.n_name}" />
    </p>
	<p class="short-input ue-clear">
    	<label>图片：</label>
        <input type="file" name="n_file" value="{$data.n_file}"/>
    </p>
    <p class="short-input ue-clear">
    	<label>资讯链接：</label>
        <input name="n_link" type="text" placeholder="资讯链接" value="{$data.n_link}" />
    </p>
    <p class="short-input ue-clear">
    	<label>状态：</label>
        <select name="n_status">
        	<option value="1" <eq name="data.n_status" value="1">selected</eq>>已上线</option>
        	<option value="2" <eq name="data.n_status" value="2">selected</eq>>待上线</option>
        	<option value="3" <eq name="data.n_status" value="3">selected</eq>>已下线</option>
        	
        </select>
    </p>
    <p class="short-input ue-clear" style="float:left;">
    	<label>资讯内容：</label>
    </p>
	<p style='width:900px; padding-left:0; float:left;'>
		<textarea name="n_descript"  style="width:800px;height:400px">{$data.n_descript}</textarea>
	</p>
	<div style='clear:both;'></div>
</div>
<div class="btn ue-clear">
	<a href="javascript:;" class="confirm" id='btnSubmit'>确定</a>
</div>
</form>
</body>
<script type="text/javascript" src="__ADMINJS__/common.js"></script>
<script type="text/javascript" src="__ADMINJS__/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	$('#btnSubmit').bind('click',function(){
		$('#f').submit();
	});
	
	$('#btnReset').bind('click',function(){
		$('form')[0].reset();
	});
	
	var um = UM.getEditor('content', {
		// 重定义Ueditor的根路径
		UEDITOR_HOME_URL : '__COMMON__Ueditor',
		// 指定文件上传的后台处理程序
		imageUrl : "{:U('upfile')}",
		// 指定文件上传后的保存路径
		imagePath : '__ROOT__/Uploads/images/'
	});
});	

$(".select-title").on("click",function(){
	$(".select-list").toggle();
	return false;
});
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(".select-title").find("span").text(txt);
});

showRemind('input[type=text], textarea','placeholder');
</script>
</html>
